.venv
/pdfs
/result
/outputs
/.vscode
/.idea
gen-lang-client-0497461545-5f78900336d3.json
/__pycache__
logs/app.log
EPUB 번환기 with google vision.spec
/build
/dist
gen-lang-client-0497461545-9e7a0395b083.json
ocr_service.py
gen-lang-client-0153794007-7fdcadd943d5.json
